.projects-container {
    height: auto;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projects-container h2 {
    padding: .2em;
    width: fit-content;
    border-bottom: 3px solid #161b33;
}

.projects-container .project-description {
    font-size: 1.3em;
    width: 60%;
    text-align: justify;
}

.project-images {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.project-images .images {
    width: 500px;
    border: 2px solid #000;
    aspect-ratio: 1351/652;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
    box-shadow: 0px 0px 10px 1px #000;
}

.project-images .images:hover {
    transform: scale(1.2);
}

.project-images .images:nth-child(1) {
    background-image: url('../../assets/images/projectImage1.png');
}

.project-images .images:nth-child(2) {
    background-image: url('../../assets/images/projectImage2.png');
}

.project-images .images:nth-child(3) {
    background-image: url('../../assets/images/projectImage3.png');
}

.project-images .images:nth-child(4) {
    background-image: url('../../assets/images/projectImage4.png');
}